:root {
    --font-size: 1vw;
    --color-red: #1bc174;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    line-height: 1.23rem;
    font-size: 4.4;
    font-weight: 500;
    line-height: 1.6;
} 

h1, 
h2,
h3,
h4
{ 
    color: rgb(63, 170, 106);
    font-family: Georgia, 'Times New Roman', Times, serif; 
}           

body {
    padding-left: 5%;
    background-color: beige;
    padding-right: 5%;
}

h1 { 
    font-size: 4.1rem;
}

h2 {
    font-size: calc(var(--font-size) + 32px);
}    

h3 { 
    font-size: 1.5rem; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color:darkseagreen;
}

nav ul::before {
    font-size: 5rem;
}

nav ul {
    padding: 4.6%;
    width: calc(60% + 30px);
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 auto;
}

.signif-design li {
    list-style-type: "\1f33b";
    text-indent: .7rem;
}

header {
    float: left;
    width: 40%; 
    display: inline; 
}

.about {
    float: left;
    display: inline;
    width: 40%;

}

.services {
    clear: both;
}

main { 
    margin: 0 auto; 
    text-align: center;
}

img {
    max-width: 60%;
}


nav a:link {
    color:rgb(199, 28, 28);
}

nav a:visited {
    color:rgb(42, 48, 44); 
}

nav a:hover {
    color:rgb(171, 185, 172);
    text-decoration: none; 
}

submit button {
    background-color: rgb(22, 10, 10);
    color: rgb(29, 202, 113); 
    padding: 8rem;
    align: left;
    width: 5rem;
    border: none;
    margin-bottom: 1rem;
    margin-left: 80%;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: .80rem;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    font-size: 18px;
    line-height: 1.1;
    background-color: rgba(199, 214, 185, 0.797);
}

